<table class="table">
  <thead>
  <% if (employee_signed_in? && current_employee.is_admin?) %>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">Employee ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Salary</th>
      <th scope="col">Gender</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Designation</th>
      <th scope="col">Active</th>
      <th scope="col">Joining Date</th>
      <th scope="col">Admin</th>
      <th scope="col">Department</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @count = 0 %>
    <% @employees.each do |employee|%>
      <% if employee.is_admin != true %>
        <% @count = @count +1 %>
        <tr>
          <th scope="row"><%= @count%></th>
          <td><%= employee.id %></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.salary %></td>
          <td><%= employee.gender %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.email %></td>
          <td><%= employee.address %></td>
          <td><%= employee.designation %></td>
          <td><%= employee.active %></td>
          <td><%= employee.created_at %></td>
          <td><%= employee.is_admin %></td>
          <td><%= employee.department.name %></td>
          <td class="d-flex">
            <%= button_to 'Edit', edit_employee_path(employee), method: :get, class:'btn btn-success' %>
            <%= button_to 'Delete', employee_path(employee), method: :delete, class:'btn btn-primary', id:"delete-btn" %>
          </td>
        </tr>
      <% end%>
     <% end %>

    <% end %>
  </tbody>
</table>
<script>
  button = document.getElementById("delete-btn");
  button.addEventListener('click', function(e) {
    if(confirm('Are you Sure?')){
    }else {
      e.preventDefault();
    }
  })
</script>






