<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "employees/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "employees/shared/links" %>



<!-- <script type="text/javascript">
  var regEmail = /^[A-Za-z0-9]+(\.[A-Za-z0-9]+)?@[A-z]+\.(com|org|in)?$/
  var regPassword = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$/

  var inputArray = document.querySelectorAll(".input");
  var form  =document.getElementById("my-form");

  var regArray = [regEmail, regPassword];
  var alertArray = [ "Enter valid email", "password must be greater than 6 character, conatin onespecial symbol and one number"];  
  
  var blankError = ["Enter email address", "Enter Password"]
  
  var array = [];

  var submitBtn = document.querySelector("#submitbtn");
  submitBtn.addEventListener("click", validation);
  function validation(e) {
      errorAlert = []
      blankErrorAlert = []
      for (var i = 0; i < inputArray.length; i++) {
          array.push(inputArray[i].value);
          console.log(array);
          if (!regArray[i].test(array[i]) && array[i] != "") {
              errorAlert.push(alertArray[i]);
              alert(errorAlert);
              array.length= 0;
              break;
          } else if (array[i] == "") {
              blankErrorAlert.push(blankError[i])
              alert(blankErrorAlert);
              array.length= 0;   
              break;
          }          
    }

    if (errorAlert.legth > 0 || blankErrorAlert.length > 0){
            e.preventDefault()
            return false
          }
    else{
        console.log("form submit in else")
        form.submit();  
      }
  }
</script>
 -->
