<table class="table">
  <thead>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">Department ID</th>
      <th scope="col">Department Name</th>
      <th scope="col">Department Manager</th>
      <th scope="col">No. of Employees</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @count = 0 %>
    	<% @departments.each do |department|%>
       <% @count = @count +1 %>
        <tr>
          <th scope="row"><%= @count%></th>
          <td><%= department.id %></td>
          <td><%= department.name%></td>
          <td><%= department.employees.where(designation:"manager", active: true).pluck("first_name")%></td>
          <td><%= department.employees.count%></td>
          <td class="d-flex">
            <%= button_to 'Show', department_path(department), method: :get, class:'btn btn-dark' %>
          	<%= button_to 'Edit', edit_department_path(department), method: :get, class:'btn btn-success' %>
            <%= button_to 'Delete', department_path(department), method: :delete, class:'btn btn-primary', id:"delete-btn" %>
          </td>
        </tr>
      <% end%>
  </tbody>
</table>
<%= link_to 'Add Department', new_department_path, class: 'btn btn-primary'%>

<script>
  button = document.querySelectorAll("#delete-btn");
	for (var i = 0; i<= button.length; i++){
	    button[i].addEventListener('click', function(e) {
	      if(confirm('Are you Sure?')){
	      }else {
	        e.preventDefault();
	      }
	    })
	  }
</script>



<!-- "#{ new_designation_path}?department_id=#{ @department.id }" -->