<table class="table">
  <thead>
  <% if (employee_signed_in? && current_employee.is_admin?) %>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">Employee ID</th>
      <th scope="col">Employee Name</th>

    </tr>
  </thead>
  <tbody>
    <% @count = 0 %>
    <% @employees.each do |employee|%>
      <% if employee.is_admin != true %>
        <% @count = @count +1 %>
        <tr>
          <th scope="row"><%= @count%></th>
          <td><%= employee.id %></td>
          <td><%= employee.full_name%></td>

          <td class="d-flex">
            <%= button_to 'Add', "#{ add_team_path(employee) }?project_id=#{ @project.id }", method: :post, class:'btn btn-primary' %>
            <%= button_to 'remove', projects_remove_path, method: :get, class:'btn btn-success' %>         
          </td>
        </tr>
      <% end%>
     <% end %>

    <% end %>
  </tbody>
</table>

<script type="text/javascript">
</script>