
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if employee_signed_in? && current_employee.is_admin == true %>
        <li class="nav-item">
          <%= link_to 'Department', departments_path, method: :get, class:"nav-link text-dark"%>
        </li> 
        <li class="nav-item">
          <%= link_to 'All Employees', employees_path, method: :get, class:"nav-link text-dark"%>
        </li> 

        <li class="nav-item">
          <%= link_to 'Add Employee', new_employee_path, method: :get, class:"nav-link text-dark"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Projects', projects_path,class:"nav-link text-dark" %>
        </li>
      <% end %>
      <% if employee_signed_in?  %>
        <li class="nav-item">
           <%= link_to 'Devohack', root_path,class:"nav-link text-dark" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Profile', current_employee, method: :get, class:"nav-link text-dark"%>
        </li> 

        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_employee_session_path, class:"nav-link text-dark"%>
        </li>
      <% else %>  
        <li class="nav-item">
          <%= link_to 'Sign In', new_employee_session_path, class:"nav-link text-dark"%>
        </li>
      <% end %>   
      </ul>
    <%= form_with url: employees_path, method: :get do |form| %>
        <%= form.text_field :search %>
        <%= form.submit "Search" %>
    <% end %>
  </div>
</nav>